[Unit]
Description=Fill in the Flathub remote's metadata from its summary
Wants=network-online.target
After=network-online.target
ConditionPathExists=!/var/lib/x27-linux/flathub-metadata

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/flatpak remote-modify --system --update-metadata flathub
ExecStart=/bin/sh -c 'mkdir -p /var/lib/x27-linux && touch /var/lib/x27-linux/flathub-metadata'
